/* 
    Document   : main
    Created on : 02-may-2015, 1:23:10
    Author     : Jorge Rodríguez <jergo23@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    background: url(../imagenes/fondo/BB_fondo.jpg); /*url(../imagenes/fondo/BB_fondo_64586.jpg);*/
    background-size: 100%;
    font-size: 16px;
}
section{
    margin: 5px;
}
div{
    /*border: yellow 1px solid;*/
}
.teu{
	margin: auto;	/* para centrar la página */
	width: 1100px;	/* para que el ancho sea fijo */
        /*width: 90% auto;	/* para que el ancho variable */
	overflow: hidden;
	margin-top:0px;
}
#contenido{
        margin-bottom: 10%;
}

#encabezado{
	background: rgb(155,177,198);
        margin-bottom: 10px;
        margin-top: 5px;
}
#sidebar_left{
    /*width: 23%;*/
    float: left;
}

#menu_izq{
    background: rgb(255,255,255);
}
#menu_izq li , #menu_izq li a{
    cursor: pointer;
    text-decoration: none;
}
#menu_izq ul li ul{
    display: none;
}
.menu_adm{
    border: 1px khaki solid;
    margin-top: 20px;
    background: rgba(200,200,15,0.8);
    width: 150px;
    list-style: none;
    text-align: center;
}
hr {    /*Anular bootstrap*/
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #eee;
}

#piej{
    background: rgb(155,177,198);
    padding: 5px;
    margin-top: 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#piej #pie{
    background: rgb(255,255,255);
}

#view_content{
    width: 85%;
    margin: auto;
    /*float: left;*/
}

/*Modificaciones de bootstrap*/
.input-group-addon{
    width: 100%;
}

.glyphicon{
    cursor: pointer;
}

.btn_derch{
    margin: 5px;
}

#encabezado_imagen{
    float: left;
}

#conexion{
    float: right;
}

#buscador{
    margin: 5px;
    float: right;
}
/*
#cuadro_herramientas{
    width: 200px;
    overflow: hidden;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(155,177,198,0.6); /*gainsboro;*//*
    border: solid 0.5px;
    border-radius: 15px;
}
*/
.col_50_izq{
    float: left;
    width: 50%;
}
.col_50_der{
    float: right;
    width: 50%;
}

.col_100{
    float: right;
    width: 100%;
}
.col_100 > input{
    margin-left: 30px;
}