/* 
    Document   : players
    Created on : 01-sep-2015, 20:22:42
    Author     : Jorge Rodríguez <jergo23@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.f25dizquierda1 {float: left; width: 25%;}
.fdizquierda2 {float: left; width: 25%;}
.fdderecha1 {float:right; width: 25%;}
.fdderecha2 {float: left; width: 25%;}

table .orden_columna{
    cursor: pointer;
}

table .orden_columna:hover{
    color: blue;
}