/* 
    Document   : print.css
    Created on : 10-mar-2016, 21:31:37
    Author     : Jorge Rodríguez <jergo23@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

